@charset 'windows-1252' ;
/*
eForo >> Plantillas de estilo
Tema: electros.net
Autor: Electros <electros@electros.net>
Creado el: Viernes 13 de Agosto del 2004
*/

/* General */
body {
background-color: #f4fbff ;
}
body,table {
font-family: verdana ;
font-size: 8pt ;
color: #000000 ;
}

/* Títulos */
.eforo_titulo_1 {
color: #ffffff ;
font-size: 8pt ;
font-weight: bold ;
text-align: center ;
}
.eforo_titulo_2 {
color: #caefff ;
font-size: 10pt ;
font-weight: bold ;
}
.eforo_titulo_2a {
font-style: italic ;
font-size: 13pt ;
color: #94dfff ;
}

/* Enlaces */
.eforo_enlace {
color: #113c5f ;
text-decoration: none ;
font-weight: bold ;
}

/* Cuerpo del foro */

.eforo_tabla_principal {
}
.eforo_tabla_titulo {
border-left: #90a6d2 ; border-top: #90a6d2 ; border-right: #596782 ; border-bottom: #596782 ;
border-width: 2px ;
border-style: solid ;
background-color: #7687ac ;
}
.eforo_tabla_subtitulo {
border-left: #7497df ; border-top: #7497df ; border-right: #3d4f75 ; border-bottom: #3d4f75 ;
border-width: 2px ;
border-style: solid ;
background-color: #5974ac ;
}
.eforo_tabla_mensaje_1 {
border-left: #daedff ; border-top: #daedff ; border-right: #b0c0ce ; border-bottom: #b0c0ce ;
border-width: 2px ;
border-style: solid ;
background-color: #cddff0 ;
}
.eforo_tabla_mensaje_2 {
border-left: #c8e5ff ; border-top: #c8e5ff ; border-right: #a4bcd1 ; border-bottom: #a4bcd1 ;
border-width: 2px ;
border-style: solid ;
background-color: #bcd7f0 ;
}
.eforo_tabla_codigo {
border-left: #d4efff ; border-top: #d4efff ; border-right: #bfe7ff ; border-bottom: #bfe7ff ;
border-width: 2px ;
border-style: solid ;
background-color: #caebff ;
padding: 3px ;
}
.eforo_tabla_defecto {
border-left: #daedff ; border-top: #daedff ; border-right: #b0c0ce ; border-bottom: #b0c0ce ;
border-width: 2px ;
border-style: solid ;
background-color: #cddff0 ;
}

.separador {
border: #000 1px solid ;
}

.separador_c {
margin-left: 0 ;
text-align: left ;
width: 100px ;
border: #000 1px solid ;
}

/* Formularios */
.eforo_formulario {
border: #000000 1px solid ;
background: #e4faff url('../imagenes/fondo_form.gif') repeat-x ;
font-family: verdana ;
font-size: 8pt ;
}