/node_modules
/public/storage
/vendor

/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
package.json
.vscode/sftp.json

# PHP Files
config.php

# KDE Linux
.directory